---
import CodeEditor from '@components/code.editor.svelte';
---
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
  <style>
      @font-face {
          font-family: "PragmataPro";
          src: local("PragmataPro"), url("/fonts/PragmataPro_Mono_R_0829.ttf");
      }

      :root {
        --tm-editor-font-size: 16px;
        --tm-editor-font-family: "PragmataPro";
      }
  </style>
</head>
<body>

  <div>
    <CodeEditor client:only="svelte" />
  </div>
</body>
</html>
